html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

header  {
    background-color:black;
    
    width:fit-content;
    height: 3em;
    
    

    
}

header a{
    text-decoration: none;
    color:white;
    
}







.title{
    float : left;
    vertical-align: middle;
}

header ul {
    display:inline-block;
    float:right;
    text-align: center;
    color:white;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: auto;
    margin-right: 5%;
    vertical-align: middle;
    
    

}

ul{
    color:white;
}






.first{
    
    width: fit-content;
    height: 300px;
    background-image: url(https://cdn.discordapp.com/attachments/808695604200210434/816250282526244874/cafe2.jpeg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px; 
    text-align: center;      
}

.first h2,p{
    
    margin-left:25%;
    margin-right:25%;
    background: rgba( 255, 255, 255, 0.25 );box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );backdrop-filter: blur( 8.5px );-webkit-backdrop-filter: blur( 8.5px );border-radius: 10px;border: 1px solid rgba( 255, 255, 255, 0.18 );


}


.button{

    border-radius:15px;
    padding:8px 15 px;
    border: none;
}
.second{

    width: fit-content;
    height: 300px;
    background-color: white;


}

.third{

    width: 100%;
    height: 300px;
    background-image: url(https://media.discordapp.net/attachments/808695604200210434/816250283540873237/service.jpeg);

    background-position: center;
    background-size: cover;
}

h2 {

    color:white;
    text-align:center ;
    font-size: 50px;
    margin-top: 40px;
    
}

.first p{
    color:white;
    text-align:center;
    margin-top: 50px;
    line-height: 2.5;
    font-size: 10px;
    
}

img {
    
    
    height: 60px;
    width: 60px;
    
    

}

.second p{
    color:black;
    font-size: 1em;
    
    text-align: center;
    font-size: 10px;
    
}

.second h2{
    color: black;
    
    font-size: 10px;
}

.container {
    display: flex;
    margin-top: 30px;
    
    text-align: center;
    
    
}

.container img{
    align-content: center;
}




span{
    text-align: center;
}



