div {
    background-color: blueviolet;
    width: 150px;
    height: 150px;
    margin: 10px;
    margin-left: 60px;

}

.carre1{

    padding-left: 60px;
    padding-top: 50px;
}

.carre2{

    margin-left: 250px;
    background-color: aquamarine;
    margin-bottom : 350px;
}