div{
    text-align: center;
    align-items: center;
}

*{
	margin:0;
	padding:0;
}
@keyframes ani{
	0%{background-position: 0 0;}
	100%{background-position: 100vw 0;}
}
.nuage{
	background:url(http://i.stack.imgur.com/iofJk.png) repeat-x 0 / 100% auto;
	height:500px; /* this value is not important, just not zero */
	animation: ani 10s linear infinite ;

}

.lil {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    position: relative;
    z-index: 9999;
    right: 90px;
    top: 85px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #000;
    width: fit-content;
    height:fit-content;
    border-radius: 25%;
    border-color: salmon;
    color:sandybrown;

    
}

#feedbackslider:hover .feedback-title {
     color: #fff;
}




